<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
</head>
<body>
 <h1>Welcome to Portal, <%= firstName %> </h1>
 <div>
 	<h3> Your Details</h3>
 	<p>
 		<b>User Name : </b> <%= username %> <br>
 		<b>First Name : </b> <%= firstName %> <br>
 		<b>Last Name : </b> <%= lastName %> <br>
 		
  		
 	</p> 
 </div>
</body>
</html>